.PostCard{
    margin: 1em auto;
    color: white;
    background-color: #000000;
    width: 80%;
    border: 2px solid #ffffff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.PostHeader{
    padding: 1em;
    height: max-content;
    width: 100%;
    border-bottom: 1px solid white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.PostHeader img {
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
}

.Header-Title{
    margin: auto 0px auto 1em;
    vertical-align: middle;
    
}

.PostContent{
    width: 100%;
    padding: 0.3em;
}

img{
    border-radius: 5px;
    vertical-align: top;
    width: 100%;
}
